
/*
:root {
}
*/
#preface-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

body {
    overflow-y: hidden;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif ;
    font-size: calc(23 * var(--ratio));
    line-height:  calc(25 * var(--ratio));
}
.backgroundColor-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden;
    transition: background-color 1s;
    background-color: #ffffff;
}
.backgroundColor-container.dark {
    transition: background-color 1s;
    background-color: #000000;
}

.backgroundColor{
    transform-origin: center;
    border-radius: 0%;
    width: 100%;
    height: 100%;
    transition: ease 0.8s;
    transition-property: width, height, border-radius ;
    background-color: #ffffff;
}
.backgroundColor.dark{
    transform-origin: center;
    border-radius: 100%;
    width: 0%;
    height: 0%;
    transition: ease 1.2s;
    transition-property: width, height ;
    background-color: #ffffff;
}
.backgroundColor.end{
    transition: ease 0.8s;
    background-color: #000000;
    z-index: 3;
}

.noiseblocks {
    position: absolute;
    opacity: 0.2;
    z-index: -3;
}
.noiseblocks.dark {
    position: absolute;
    opacity: 0.8;
}

.svgDynamic {
    position: absolute;
    z-index: -1;
}

.svgDynamic.dark {
    position: absolute;
    filter: invert(100%);
}

/*Scrolling container*/
#app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}
#app-container::-webkit-scrollbar { 
    width: 0 !important;
}

/* Scrolling anchors */
.slider-anchors-container {
    height: 0px;
    width: 3000px;
    display: flex;
    flex-direction: row;
}
.slider-anchors {
    height: 0px;
    width: 25%;
}
/*Scrolling contents*/
.game-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#app-frames-top {
    position: absolute;
    z-index: 2;
    height: 92%;
    width: 2000px
}
#game {
    position: absolute;
    height: 92%;
    width: 2000px

}
#app-frames-bottom{
    position: absolute;
    z-index: -1;
    height: 92%;
    width: 2000px
}

#scrollercontainer {
    display: flex;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.2;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
#scrollercontainer:hover {
    display: flex;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1.0;
}
#scroller{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40%; /* Full-width */
    height: 2px; /* Specified height */
    background: var(--primary-color); /* Grey background */
    outline: none;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: block;
    position: absolute;
    z-index: 1;
}
#scroller::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 50%; 
    background: var(--secondary-color);
    cursor: pointer;
  }
#scroller::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
  }
    #scroller::-webkit-slider-thumb:hover {
        background: var(--primary-color)
    }
    #scroller::-moz-range-thumb:hover {
        background: var(--primary-color)
    }

#scrollInfo {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #ffffff00;
    width: 40%;
    height: 0px;
    outline: none;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    position: absolute;
    z-index: 0
  }
#scrollInfo::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%; 
    background: var(--primary-color);
    cursor: pointer;
  }
  
#scrollInfo::-moz-range-thumb {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
  }
.followPlayerButton {
    position: absolute;
    left: 80vw;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif ;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}
    .followPlayerButton:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

.muteAllButton {
        position: absolute;
        right: 80vw;
        padding: 5px;
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        border-radius: 6px;
        font-family: 'Fira Sans', Helvetica, Arial, sans-serif ;
        font-size: 0.8em;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--primary-color);
}
    .fmuteAllButton:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

/*Preface styles*/

.prefaceText {
    display: inline-block;
    width: 90%;
    margin-top: 20px;
    position: relative;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    color: black;
    z-index: 2;
}
#prefaceFrame {
    
    width: 500px;
    height: 80%;
    position: relative ;
    display: inline-block;
    top: 10%;
    color: black;
    border: solid #000000 2px;
    overflow: hidden;
}
#preface {
    width: 100%;
    height: 100%;
    text-align: center;
}


#prefaceFrame button {
    background-color: #00000000;
    position: relative;
    width: 80%;
    height: 50px;
    bottom: 50px;
    border: none;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

#fallingMan {
    width: 70%;
    height: 70%;
    position: absolute;
    top: -70%;
    left: 15%;
    transition: ease-in 2s;
    transition-property: top;
}

#fallingMan.falling {
    top: 120%;
    transition: ease-in 2s;
    transition-property: top;
}

#title {
    position: absolute;;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 20%;
    z-index: 3;
    line-height: 1em;
    text-align: center;
    font-weight: 300;
}

cite {
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 0px;
    position: relative;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    color: black;
    z-index: 2;
}
cite i {
    font-style: italic;
}

.endText {
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    z-index: 5;
}

.endText p {
    z-index: 5;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0px;
    line-height: 2em;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
}
.endText a {
    color: #ffffff;
}

#tooltip {
    position: absolute;
    display: block;
    left: 5%;
    bottom: 90px;
    width: 330px;
    height: 50px;
    padding: 10px;
    padding-left: 120px;
    background-color: #000000;
    border: 2px solid #ffffff;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 7px;
}
#tooltip p {
    display: flex;
    color: #ffffff;
    font-size: 0.8em;
    line-height: 2em;
    z-index: 2;
    border: none;
}
#tooltip button {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    position: inline-block;
    height: 25px;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    z-index: 5;
    line-height: 1.8em;
}

#tooltip button:hover {
    color: #000000;
    background-color: #ffffff;
}
#tooltip #anim{
    width: 72px;
    height: 50px;
    position: relative;
    left: -100px;
    bottom: +50px;
    background : url("./assets/images/icons/tooltip_keyboard_buttons.min.svg");
    background-size: cover;
    background-position-x: 0px;
    animation: keybutton 1s steps(2) infinite;
    filter: invert(100%);
}
@keyframes keybutton {
    0% { background-position:    0px; }
    100% { background-position: -148px; }
  }